.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.text-brand {
    color: var(--color-brand-normal);
}

.text-bold {
    font-weight: 600;
}
