:root {
    --color-primary-light: #f9f9f9;
    --color-primary-dark: #31261a;
    --color-brand-normal: #819b57;
    --color-brand-dark: #465929;
    --color-secondary-dark: #a18268;
    --color-brand-light: #cfcfbc;

    --color-white: #ffffff;
    --color-selected: #3c7bed;
}
